<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aula 200224</title>
    </head>
    <body>
        <div id="app">
            <h1>{{x}}</h1>
            <hr>
            <h2>{{n3**3}} {{n5**3}} {{n10**3}}</h2>
            <hr>
            <input type="number" v-model="useHours"> translate to {{useHours*60}} minutes
            <input type="number" v-model="useMinutes"> translate to {{useMinutes*60}} seconds
            <hr>
            <input type="number" v-model="number1">
            <span v-if="number1>number2">></span>
            <hr>
            {{ arraySum(array) }}
            <hr>
            <input type="number" v-model="userInputNumber">
            {{sumNumber(userInputNumber)}}
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const app = Vue.createApp(
                {
                    data() 
                    {
                        return{
                            x : 'hello world',
                            n3 : 3,
                            n5 : 5,
                            n10 : 10,
                            useHours : 0,
                            useMinutes : 0,
                            useName : '',
                            useNumber : '',
                            array : [1,2,3]
                        }
                    },
                    methods:
                    {
                        arraySum(array)
                        {
                            sum=0
                            for(i=0; i<array.length; i++)
                            {
                               sum += array[i];  
                            }
                            return sum;
                        },
                        sumNumber(userInputNumber)
                        {
                            base=1;
                            for(i=0; i<=userInputNumber; i++)
                            {
                                base+=userInputNumber;
                            }
                            return base;
                        }
                    }
                }
            )
            app.mount('#app')
        </script>
    </body>
</html>